
.poke {
    background-color: black;
    border-radius: 50px;
    border: 10px solid #E3B249;
    position: relative;
    top: 15px;
    left: 10px;
    width: 350px;
    height: 350px;
  }

#name{
    text-transform: uppercase;
    text-shadow:2px 2px #fff;
  }
.header{
    text-transform: uppercase;
    text-shadow:2px 2px #fff;
  }
button {
    background: red;
    color: #fff;
    cursor: pointer;
    padding: 3px 8px;
    border:2px solid black;
    border-radius: 10px;
    margin: 10px;
    outline: none;
    font-size: 20px;
  }
  
button:hover {
    filter: brightness(115%);
    background: oldlace;
    color: black;
  }
  
