body{
    background: linear-gradient(to bottom right, white, red);
    min-height: 100vh;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
      }
 